.user-form-box
  .devise-user-form  
    %h2
      Edit #{resource_name.to_s.humanize}
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, autofocus: true, placeholder: 'name'
        = f.input :email, required: true, placeholder: 'email'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        - unless resource.auth_hash
          = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, placeholder: 'password'
          = f.input :password_confirmation, required: false, placeholder: 'password confirmation'
          = f.input :current_password, hint: "we need your current password to confirm your changes", required: true, placeholder: 'current password'
        = f.input :address, placeholder: 'Address'
        = f.input :pincode, placeholder: 'Pin code'
        = f.input :phone_number, placeholder: 'Phone number'
      .form-actions
        = f.button :submit, "Update"
