.shop-details
  .shop-image{style:"background-image:url(#{@shop.banner.url})"}
  .shop-detail-name
    %h2= @shop.name
  .shop-detail-description
    = @shop.description
= react_component 'Products', {products_url:  for_shop_products_path(permalink: @shop.permalink) , shoping_cart_url: shoping_carts_path, add_to_cart_url: add_to_cart_shoping_carts_path, current_cart_url: current_cart_shoping_carts_path , current_user: current_user.present?, per_page: 10, remove_purchase_url:  remove_purchase_shoping_carts_path, checkout_url: checkout_shoping_carts_path }

.comment-section
  .comment-form
    = simple_form_for @comment, url: shop_comments_path(@shop), remote: true do |f|
      =f.input :text, label: 'comment'
      =f.submit 'post comment'
  .comments-container
    - @comments.each do |comment|
      = render partial: 'shops/comments/comment',locals: {comment: comment}
  }
