.shop-list
  %h3
    Shops with pending payments

  %table.table
    %thead
      %th
        Shop
      %th
        New purchases
    %tbody  
      - @shops.each do |shop|
        %tr
          %td
            = shop.name
          %td  
            = link_to purchases_platform_shop_path(shop) do
              = shop.purchase_count

  %h3
    All shops (
    = @shop_count
    )

  .all-shops{data:{search_path:  search_platform_shops_path }}
  .search-box
    .form-group.pull-left
      Search
      %input.platform-shop-search-field.form-control

    = link_to 'new shop', new_platform_shop_path, class:'new-shop-btn btn btn-primary pull-right'
  
  .search-result
    = render template: 'platform/shops/shops'