.shop-list
  %h3
    Shops with pending payments

  %table.table
    %thead
      %th
        Shop
      %th
        New purchases
    - @shops.each do |shop|
      %tr
        %td
          = shop.name
        %td  
          = link_to purchases_platform_shop_path(shop) do
            = shop.purchases.where(payed:true, payed_out:false).count

  %h3
    All shops (
    = @shop_count
    )

  .all-shops{data:{search_path:  search_platform_shops_path }}
  .search-box
    .form-group
    Search
    %input.platform-shop-search-field.form-control
  .search-result
    = render template: 'platform/shops/shops'