= f.input :name
= f.input :description
= f.input :banner, as: :file
= f.input :phone_number
= f.input :email
= f.input :address
= f.input :pincode
= f.input :lat, label: "latitude"
= f.input :lng, label: "longitude"
- if false
  Get your credentials by signing up
  = link_to "instamojo", "https://www.instamojo.com"
  You will get the keys from
  = link_to "here", "https://www.instamojo.com/integrations"

  = f.input :instamajo_api_key, label: "Private API Key"
  = f.input :instamajo_auth_token, label: "Private Auth Token"
= f.submit

= render partial: '/seller_geolocation'


