-if current_user.blank?
  Please 
  = link_to 'Sign in', new_user_session_path
  or
  = link_to 'Sign up', new_user_registration_path
  to place a bid.
  %br
= "#{@product.quantity} #{@product.unit} available to purchase at Rs #{@product.price}/#{@product.unit}"
= simple_form_for @bid, remote: true, html: {class: 'new-bid-form'} do |f|
  = f.input :quantity
  = f.input :amount
  = f.input :product_id, :as => :hidden, :input_html => { :value => @product.id }
  = f.submit class: 'btn btn-default'
  = link_to 'Cancel', '', class: 'btn btn-default close-bid-dialogue-box pull-right'