
= simple_form_for(@user, url: social_auth_users_path) do |f|
  = f.error_notification
  - if @user.auth_hash.present?
    = f.simple_fields_for :auth_hash do |a|
      .form-inputs
        = a.input :name, required: true, autofocus: true
        = a.input :email, required: true

  .form-actions
    = f.button :submit, "Sign up"
