
.market-left.pull-left
  .search
    = form_tag search_path, method: :get, class: 'search-form', remote: true do
      = label_tag "Search for"
      .clearfix
      = text_field_tag :term
      .clearfix
      = label_tag "Quantity needed"
      .clearfix
      = number_field_tag :quantity
      .clearfix
      = label_tag "Near"
      .clearfix
      = text_field_tag :place
      .clearfix
      = hidden_field_tag :geolocation
      = button_tag type: :submit, class: 'search_button' do
        = "search"
        %i.fa.fa-search
  #map
.market-right.pull-left
  .results-headder
    .results-headder-item.pull-left
      Item
    .results-headder-item.pull-left
      Distance
    .results-headder-item.pull-left
      Rate (Per Kg)
    .results-headder-item.pull-left
      Total
    .clearfix
  .results-body

%script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBV3E-iuGXAppEw25GHr2cFns3vDnuJFYw&libraries=places"}
