.navigation
  -if current_user
    .nav-item.pull-right
      = link_to (current_user.name ),  edit_user_registration_path
    - if current_user.shop.present?
      .nav-item.pull-right
        = link_to "Shop", seller_shop_path(current_user.shop)
    .nav-item.pull-right
      = link_to "logout", destroy_user_session_path, method: :delete
    -if current_user.admin?
      .nav-item.pull-right
        = link_to 'Platform', platform_shops_path
    
  - else
    .nav-item.pull-right
      = link_to "sign up", new_user_registration_path
    .nav-item.pull-right
      = link_to "sign in", new_user_session_path

  .nav-item.pull-left.home-link
    = link_to root_path do
      %h3
        LotoTribe
  .clearfix
  