.navigation
  -if current_user
    .nav-item.pull-right
      = link_to (current_user.name ),  edit_user_registration_path
    .nav-item.pull-right
      = link_to "logout", destroy_user_session_path, method: :delete
    .nav-item.pull-left
      = link_to "shops",  platform_shops_path 
    .clearfix
  - else
    .nav-item.pull-right
      = link_to "sign up", new_user_registration_path
    .nav-item.pull-right
      = link_to "sign in", new_user_session_path

    .clearfix