.navigation
  -if current_user
    .nav-item.pull-right
      = link_to (current_user.name ),  edit_user_registration_path
    .nav-item.pull-right
      = link_to "logout", destroy_user_session_path, method: :delete
    
  - if current_user.shops.present?  
    .nav-item.pull-left
      = link_to "Dashboard", seller_shops_path
    .nav-item.pull-left
      = link_to 'wholesale', seller_wholesale_index_path
    .nav-item.pull-right  
      =  link_to "shoping list", shopping_list_shopper_path 
  .clearfix
