.navigation
  .nav-item.pull-left{class: controller_name == 'markets' ? 'current-nav-item' : ''}
    = link_to 'Market', market_path
  - if current_user
    .nav-item.pull-left{class: controller_name == 'shops' ? 'current-nav-item' : ''}
      = link_to 'Profile', seller_shops_path
    .nav-item.pull-right.dropdown
      %span{data:{toggle: 'dropdown'}}
        %a{href: "#"}= current_user.name
        .fa.fa-angle-down 
      .dropdown-menu.pull-right
        .dropdown-item
          = link_to "Add new shop", new_seller_shop_path
        .dropdown-item
          = link_to "Contact us", "#"
        .dropdown-item
          = link_to "Log out", destroy_user_session_path, method: :delete
  - else
    .nav-item.pull-right
      = link_to 'Sign in', new_user_session_path
    .nav-item.pull-right
      = link_to 'Sign up', new_user_registration_path

  .clearfix