!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lototribe
    - if time_for_fetch_location
      = render partial: '/user_geolocation'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    
    .app
      = render partial: 'layouts/navbar'
      - if flash[:notice]
        .app-message
          = flash[:notice]
      
      = yield
      = render partial: 'layouts/contact_us'
